{% extends('@RTapp/layout.html.twig') %}

{% block title %}
    A propos
{% endblock %}

{% block body %}

    <div class="page-header">
        <h1>A propos <br><small>Projet Symfony</small></h1>
    </div>

    <article>
        <p>Ce site a été réalisé lors du cours de programmation web côté serveur.</p>

        <p>Il s'agit de construire un site web de type <em>e-commerce</em> s'appuyant sur la base de données de musique
        <em>Classique_Web</em> disponible sur le serveur <em>info-simplet</em>.</p>

        <p>Le site comprend :</p>
        <ul>
            <li>Une page d'accueil présentant le site,</li>
            <li>Un menu facilitant la navigation dans le site,</li>
            <li>
                Une page "à propos", décrivant le travail réalisé et précisant la liste des auteurs du site (le <em>binôme</em>),
                et éventuellement les difficultés rencontrées
            </li>
            <li>
                Un ensemble de pages constituant un catalogue et permettant de parcourir le contenu de
                la base (par exemple : un lien qui à partir d'une initiale permet d'accéder aux oeuvres d'un compositeur,
                puis aux albums contenant des enregistrements de ces oeuvres, et enfin aux enregistrement eux-mêmes),
            </li>
            <li>
                Chaque fois que c'est pertinent, affichage de la photo des musiciens ou de la pochette d'un album, affichage d'un                      contrôle permettant d'écouter l'extrait de l'enregistrement concerné,
            </li>
            <li>
                Une zone sécurisée (donc avec connexion et suivi de session) permettant de construire un <em>panier d'achat</em>,
            </li>
            <li>
                Depuis la page décrivant un <em>album</em>, un accès aux  services <em>Amazon</em> affichant les informations sur
                l'album (détails, prix, ...) grâce à la valeur contenue dans le champ <em>ASIN</em> de la table <em>Album</em> (en                      utilisant <a href="/Cours/Services/Amazon/">l&#39;API Amazon</a> ), ou la liste des
                albums semblables disponibles lorsque ce champ n'est pas renseigné (pas un simple renvoi sur une page !).
            </li>
        </ul>
    </article>

    <h2>Les auteurs</h2>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Raphael Thibierge</div>
            <div class="panel-body">
                <div class="col-xs-6 col-md-3">
                    <span class="thumbnail">
                        <img src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.png" alt="">
                    </span>
                </div>
                <a href="http://raphael.thibierge.com" class="btn btn-info">Site perso</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Emilie Dao</div>
            <div class="panel-body">
                <div class="col-xs-6 col-md-3">
                    <span class="thumbnail">
                        <img src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.png" alt=""/>
                    </span>
                </div>
                emilie.dao@etu.u-bordeaux.fr
            </div>
        </div>
    </div>

{% endblock %}

