{% extends('@RTapp/layout.html.twig') %}

{% block title %}
Bienvenue
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="text-center">Bienvenue</h1>

        <div class="text-center">Ce site a pour but de présenter les exercices réalisés en PHP avec le framework Symfony2.</div>

    </div>
{% endblock %}

