{% extends('IUTappBundle::layout.html.twig') %}

{% block title %}
    Connection
{% endblock %}

{% block body %}

    {# display error, if there is one #}
    {#{% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}#}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="well">


                {# form errorrs #}
                {% if error %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger">
                                {{ error.message }}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-12">

                        <form action="{{ path('login_check') }}" method="post">
                            <label for="username">Identifiant :</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" />

                            <label for="password">Mot de passe :</label>
                            <input type="password" id="password" name="_password" />
                            <br />
                            <input type="submit" value="Connexion" />
                        </form>


                    </div>
                </div>




            </div>
        </div>
    </div>


{% endblock %}

