{% extends('IUTappBundle::layout.html.twig') %}

{% block title %}
    Achats
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Achats</h1>
        </div>
    </div>

    {% if nbItems == 0 %}

        <div class="alert alert-danger text-center">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Aucun achat réalisé.
        </div>

    {% else %}

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Durée</th>
                        <th>Prix</th>
                        <th>Extrait</th>
                        <td></td>
                    </tr>
                    </tr>
                    </thead>
                    <tbody>
                    {% for purchase in purchases %}
                    {% set enregistrement = purchase.codeEnregistrement %}
                        <tr>
                            <td>{{ enregistrement.titre }}</td>
                            <td>{{ enregistrement.durée }}</td>
                            <td>{{ enregistrement.prix }}</td>
                            <td><audio controls><source src="{{ path('catalog_default_generateTrack', {'id' : enregistrement.codeEnregistrement}) }}" type="audio/mpeg"></audio></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    {% endif %}

{% endblock %}

