# Cache and logs (Symfony2)
/Symfony/app/cache/
/Symfony/app/logs/
!Symfony/app/cache/.gitkeep
!Symfony/app/logs/.gitkeep


# Managed by Composer
/Symfony/app/bootstrap.php.cache
/Symfony/var/bootstrap.php.cache
/Symfony/bin/
!Symfony/bin/console
!Symfony/bin/symfony_requirements

# Assets and user uploads
/Symfony/web/bundles/
/Symfony/web/uploads/

# PHPUnit
Symfony/app/phpunit.xml
Symfony/phpunit.xml

# Build data
Symfony/build/

# phpStrom
/Symfony/.idea
/.idea