{% extends('IUTappBundle::layout.html.twig') %}

{% block title %}
    {{ genre.libelléAbrégé }}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <h1>{{ genre.libelléAbrégé }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
{#
    TODO - albums list
#}

    </div>
</div>



{% endblock %}