{% extends('IUTappBundle::layout.html.twig') %}

{% block title %}
    {{ genre.libelléAbrégé }}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <h1>{{ genre.libelléAbrégé }}</h1>
    </div>
</div>

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                La liste des albums disponibles dans le catalogue pour ce genre de musique n'est pas encore disponible !
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-12">
{#
    TODO - albums list
#}

    </div>
</div>



{% endblock %}