{% extends('IUTappBundle::layout.html.twig') %}

{% block title %}
    {{ editeur.titreAlbum}}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                Page inexistante
            </div>
        </div>
    </div>

{% endblock %}