{% extends('IUTappBundle::layout.html.twig') %}

{% block title %}
    {{ orchestre.nomOrchestre }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <h1>{{ orchestre.nomOrchestre }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

        </div>
    </div>



{% endblock %}