{% extends('RTappBundle::layout.html.twig') %}

{% block title %}
    {{ album.titreAlbum }}
{% endblock %}

{% block body %}

    <div class="row">
        <h1 class="text-center">{{ album.codeAlbum }}</h1>
        <h1 class="text-center">{{ album.ASIN }}</h1>
    </div>


    </div>



{% endblock %}